.Search{
    font-family: "Times New Roman", Times, serif;
    /* color: black; */
    font-size: 15px;
    text-align: right;
    word-wrap: break-word;
    /* margin-right:20%; */
    text-align: -webkit-center;
    padding-bottom: 7%;
    padding-top: 4%;
    border: black 2px solid;  
    background-color: rgba(0, 208, 255, 1);
    padding: 60px;
    

}



.singleTracks{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-align: center;
   
  
  
}

.tracks{
  padding-bottom: 5%;
  padding-top: 6%;
}

.albums {
  /* padding-bottom: 7%; */
  margin-top: 5%;
  padding-bottom: -1%;
  margin-bottom: 5px;

  
  
}

.albums h1{
  
  margin-top: 10px;
}


.TrackImages{
    display: flex;
    flex-wrap: nowrap;
    flex: 33.33%;
    padding: 5px;
    
    
}

.AlbumImages{
    display: flex;
    flex-wrap: nowrap;
    flex: 33.33%;
    padding: 5px;
    
    
    
}

  

.App, h1{
   font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: rgba(255, 252, 232, 1);
    font-size: 50px;
    margin-bottom: 2.5%;
    text-align: center;

  }

  body{
    background:rgba(28, 48, 65, 1);
  }
   
  .box{
    margin: 20px auto;
    height: 20px;
    border: none;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    /* color:black; */
    font-family: "Lucida Console", Monaco, monospace;
    background-color: bisque;
    
  }
  .carousel {
    background-color: rgba(0, 208, 255, 1);
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }

  .header{
    padding: 60px;
    margin: 0;
    text-align: center;
    background:rgba(0, 208, 255, 1);
    /* color: white; */
    font-size: 80px;
    margin-top: 0px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 80px;
    letter-spacing: 2.2px;
    word-spacing: -1.6px;
    color: rgba(255, 252, 232, 1);
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 4px solid rgba(70, 99, 101, 1);
  }

  .album{
    text-align: -webkit-center;
  }
  /* Container holding the image and the text */
img.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li{
  list-style-type: none;
}
.image{
  background-image: url("./imageheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 300px ;
  border-bottom: 6px solid rgba(70, 99, 101, 1);
  background-attachment: inherit;
  background-position-y: center;
}
.banner{
    width: 100%;
    margin: 0%;
  }
.Card{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  
  
}
.tr {
   height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
}

.card-title {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  color:
  rgba(255, 252, 232, 1);
}
h5#art {
  font-style: oblique;
  text-decoration: underline;
  text-decoration: underline;
}

#web{
  font-style: oblique;
  text-decoration: underline;
  text-decoration: underline;
  color:
  rgba(0, 208, 255, 1);
}

.title{
  color:
  rgba(255, 252, 232, 1);
}

h2 {
  color: rgba(255, 252, 232, 1);
}

p {
  color: rgba(255, 252, 232, 1);
}
#bio {
  margin-left:10px;
  text-indent: 2em;
  text-align: justify;
  margin-right: 12px;
}
.list {
  color:rgba(0, 208, 255, 1);
  font-style: oblique;
}

.cardImg{
  /* margin: 0px 30px 30px 30px; */
  max-width: 500px;
  max-height: 500px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(70, 99, 101, 1);
}


.Title{
 text-align: center;
}
.home{
  font-size: 3em;
  color: white;
  margin-bottom: 3%;
}

.d-block{
  max-width: 630px;
  max-height: 500px;
}


.slide {
  box-shadow: 8px 8px 5px black;
}

.slide:hover {
  box-shadow: 15px 15px 10px rgba(70, 99, 101, 1);
}


.albums, tracks{
  margin: 0;
  padding-bottom: 14px;
}

@media (min-width: 992px){
.container {
    max-width: 500px;
}
}
.btn{
  background-color: rgba(0, 208, 255, 1);
  color: rgba(255, 252, 232, 1);
}

